*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	background: #fff;
	/*color: #626262;*/
	margin: 0;
	/*font: 14px/1.7 Georgia, serif;*/
}

a {
	text-decoration: none;
}

img {
	border: 0;
}

.page {
    position: relative;
    margin: 0;
    width: 100%;
	overflow: hidden; 
}

.game-holder,
.forest,
.hunter-holder, 
.winner-holder {
    margin: 0;
    border-radius: 8px;
}

.forest,
.hunter-holder {
    height: 600px; 
}

/*.game-holder {
    height: 650px;
}*/

.winner-holder {
    background: #69D389;
    width: 1050px;
    text-align: center;
    margin-top: 10px;
}

.winner {
    margin: 0;
    padding: 10px;
    color: #fff;
}

.game-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 1050px;
}

.forest {
    position: relative;
    width: 750px;
    background: url(forest.png);
}

.forest img {
    position: absolute;
    width: 60px;
    height: 60px;
    transition: all 0.3s ease;
}

.hunter-holder {
    padding: 10px;
    width: 290px;
    background: #69D389;
}

.hunters {
    height: 450px;
    margin-bottom: 15px;
    border-radius: 8px;
    background: #fff;
    overflow: auto;
}

.hunter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 270px;
    height: 80px;
    margin: 0 auto;
    border-radius: 8px;
    background: #066b19;
    padding: 5px;
    margin-bottom: 5px;
    color: #fff;
}

.hunter img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.hunter p {
    width: 220px;
    height: 20px;
    margin: 5px;
    text-align: center;
    background:#1BDA11;
    border-radius: 8px;

}

.button-holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.button {
    border: none;
    width: 120px;
    height: 50px;
    text-align: center;
    margin-bottom: 15px;
    padding: 10px;
    color: #fff;
    background:#1BDA11;
    border-radius: 8px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.button:hover {
    background: #fff;
    color: #1BDA11;
}
